$followers-description-font-size: 12px;
page-city-section {
      .followers-content
	{
        .country-expand {
				  position: relative;
				  width: 100%;
				  max-height: 90px;
				  transition: max-height 0.1s ease-out;
				  overflow: hidden;
				}
				.section_text{
					letter-spacing: 0.2px;
					text-align: justify;
   				text-justify: inter-word;
				}

				.country-expand.inactive:after {
				  content: "";
				  position: absolute;
				  bottom: 0px;
				  left: 0;
				  height: 15px;
				  width: 100%;
				  display: block;
				  background-image: -webkit-gradient(
				    linear,
				    left top,
				    left bottom,
				    color-stop(0, rgba(255, 255, 255, 0)),
				    color-stop(1, rgba(255, 255, 255, 1))
				  );
				  background-image: -o-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
				  background-image: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
				  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
				  background-image: -ms-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
				  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 255) 0%, rgba(255, 255, 255, 255) 100%);
				}

				.country-expand.active {
				  max-height: 900px;
				  transition: max-height 0.3s ease-out;
				}


				.country-expand-footer {
				  color : $white-d;
				  margin-top: 10px;
				  font-size: 12	px;
				  font-weight: bold;
				}

				.country-expand-footer i {
				  margin-right: 10px;
				}
		background-color: color($colors, background, base);
        .item-title
						{
							font-size: 1.4rem;
							font-weight: 500;
							letter-spacing: 0.2px;
							color: $theme-color-3;
							margin-bottom: 6px;
                            background-color: $white-b;
						}

		ion-searchbar {
			background: transparent;
			padding: 10px;
			border: none;

			.searchbar-input
			{
				border-radius: 1.5rem;
				color: $theme-color-2;
				background-color: $white-c;
			}

			.searchbar-search-icon {
			  @include ios-searchbar-icon($searchbar-ios-input-search-icon-svg, $theme-color-2);
			}
		}

		.followers-list
		{
			margin: 10px;
            

			.list-item
			{
				margin: 6px 0px;
				border-radius: 6px;
				border: none;
				padding: 0px;
				@include element-shadow();

				ion-thumbnail {
					flex: 0 0 24%;
			    max-width: 24%;
					margin: 0px;
					padding: 8px;
				}

				.item-inner
				{
					border: none;
					padding: 0px;

					.input-wrapper
					{
						padding: 8px;
					}

					ion-label {
						margin: 0px;
						@include align-self(flex-start);

						.item-title
						{
							font-size: 1.4rem;
							font-weight: 500;
							letter-spacing: 0.2px;
							color: $theme-color-3;
							margin-bottom: 6px;
						}

						.item-description
						{
							letter-spacing: 0.2px;
							word-break: break-word;
							color: $white-d;
							@include multi-line-ellipsis($followers-description-font-size);
						}
					}

					.relation-button
					{
						margin: 0px;
					  padding: 0px 16px;
					  height: inherit;
						@include align-self(stretch);
					  border-radius: 0px 6px 6px 0px;
						background-color: $theme-color-2;
					  width: 24%;

						&.following
						{
							background-color: $theme-color-1;

							ion-icon {
								font-size: 4.2em;
							}
						}

						ion-icon {
							font-size: 2.4em;
							color: $white;
						}
					}
				}
			}
		}
	}

}
