page-country-description {
        .dangerIcon{
            color: red;
        }
        .secondaryIcon{
            color: color($colors,"secondary");
        }
        .card-header{
            background-color: color($colors,"lightPrimary");
        }
}
